@model khmap.Models.SearchViewModel

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well"><h4>Search results for "@Model.SearchText" are...</h4></div>


<div class="row-fluid">

    <div class="col-md-4">
        <div class="span4 well" style="margin-left:0px;height:380px;">
            <strong>Maps</strong><hr />
            @if (Model.Maps.Count() == 0)
            {
                <div class="alert alert-info">No maps to display</div>
            }
            <div style="max-height:300px;overflow-y:auto;" id="maplistcontainer">
                @foreach (var item in Model.Maps)
                {
                    <div>
                        <div style="position: relative"><strong>@Html.ActionLink(item.Name, "Index", "Map", new { id = item.Id }, null)</strong></div>
                        <div><small>Created on @item.CreationTime</small></div>
                    </div>
                    <hr style="margin:23px 0px 0px 0px;" />
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="span4 well" style="margin-left:0px;height:380px;">
            <strong>People</strong><hr />
            @if (Model.Users.Count() == 0)
            {
                <div class="alert alert-info">No people to display</div>
            }
            <div style="max-height:300px;overflow-y:auto;" id="peoplelistcontainer">
                @foreach (var item in Model.Users)
                {
                    <div>
                        <div>@Html.ActionLink(item.FirstName + " " + item.LastName, "Profile2", "User", new { id = item.Id }, null)</div>
                        <div><small>@item.Email</small></div>
                        <div><small>Registered on @item.CreationTime</small></div>
                    </div>
                    <hr style="margin:23px 0px 0px 0px;" />
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="span4 well" style="margin-left:0px;height:380px;">
            <strong>Groups</strong><hr />
            @if (Model.Groups.Count() == 0)
            {
                <div class="alert alert-info">No groups to display</div>
            }
            <div style="max-height:300px;overflow-y:auto;" id="grouplistcontainer">
                @foreach (var item in Model.Groups)
                {
                    <div>
                        <div>@Html.ActionLink(item.Name, "Index", "Group", new { id = item.Id }, null)</div>
                        <div><small><strong>@Html.Action("NumberOfUsers", "Group", new { id = item.Id.ToString() })</strong> Members</small></div>
                        <div><small>Created on @item.CreationTime</small></div>
                    </div>
                    <hr style="margin:23px 0px 0px 0px;" />
                }
            </div>
        </div>
    </div>

</div>


    <style type="text/css">
        .thumbnail {
            width: 50px;
            height: 40px;
        }
    </style>


    <script type="text/javascript">
        $(function () {
            $('#maplistcontainer').niceScroll();
            $('#peoplelistcontainer').niceScroll();
            $('#grouplistcontainer').niceScroll();
        });

    </script>
