@using Microsoft.AspNet.Identity;
@model IEnumerable<khmap.Models.MapFolder>
@using khmap.Models;
@Scripts.Render("~/bundles/jquery")
@*if (Model.Count() == 0)
    {
        <div class="alert alert-info">No folders to display</div>
    }
    else
    {*@
    <table class="table table-condensed table-responsive table-hover">
 
        @if (true)
        {
            int i = 0;
            foreach (var item in Model)
            {
                string id = item.Id.ToString();
                <tr>
                    <td class="col-md-2">
                        @if (ViewBag.prevFolder != null && i > 0)
                        {
                           <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</i>
                        }
                        <label id="@i.ToString()" style="display:none">@id</label>
                        <i id="@id" onmousedown="onClickFolder(document.getElementById('@i.ToString()').innerText, event, @i)" class="fa fa-folder" aria-hidden="true"><button class="btn-link"> @item.Name</button></i>          @*this is the folder "button"*@
                    </td>
                    <td class="col-md-2">
                        

                        @Html.ActionLink(" ", "Details", "MapFolder", new { id = item.Id }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-edit", title = "Details" })
                        @*@Html.ActionLink(" ", "LaunchMap5", "Map", new { id = item.Id.ToString() }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-ok", title = "Load" })*@
                        @if (item.Creator.ToString() == User.Identity.GetUserId())
                        {
                            @Html.ActionLink(" ", "Delete", "MapFolder", new { id = item.Id }, new { @class = "btn btn-danger btn-xs glyphicon glyphicon-trash", title = "Delete" })
                        }
                    </td>
                </tr>

                i++;
            }

        foreach (var map in ViewBag.maps)
        {
            string id = map.Id.ToString();
                <tr>
                    <td class="col-md-1">
                        @*<span class="glyphicon glyphicon-star"></span>*@
                        @if (ViewBag.prevFolder != null)
                        {
                            <i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</i>
                        }

                        <label id="@i.ToString()" style="display:none">@id</label>
                        <i id="@id" onmousedown="onClickMap(document.getElementById('@i.ToString()').innerText, event, @i)" class="fa fa-sitemap" aria-hidden="true"><button class="btn-link"> @map.Name</button></i>          @*this is the folder "button"*@


                      


                    <td class="col-md-2">
                        @Html.ActionLink(" ", "Index", "Map", new { id = map.Id }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-edit", title = "Details" })
                        @*@Html.ActionLink(" ", "LaunchMap5", "Map", new { id = item.Id.ToString() }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-ok", title = "Load" })*@
                        @if (((Map)map).Creator.ToString() == User.Identity.GetUserId())
                        {
                            @Html.ActionLink(" ", "Delete", "Map", new { id = map.Id, currFolderID = ViewBag.currFolderIDString }, new { @class = "btn btn-danger btn-xs glyphicon glyphicon-trash", title = "Delete" })
                        }
                    </td>
                </tr>
            i++;
        }
  }

    </table>
    
  <div id="menu">
    <span id="deleteMenuBurron" class="menuItem">Delete</span>
    <br />
    <span id="detailsMenuBurron" class="menuItem">Details</span>
    <br />
    <span id="moveMenuBurron" class="menuItem">Move</span>
</div>



@*}*@

<script>


    var currentID;
    var isFolder;

    function onClickMap(id, event, num) {
        currentID = id;
        isFolder = false;
        var element = document.getElementById(id);
        element.oncontextmenu = function () { return false;}
        switch (event.which) {
            case 1:
                window.location.href = '@Url.Action("LaunchMap5", "Map", new {id = "ID", currentFolderID = "null" })'.replace("ID", id);
                break;
            case 2:
                console.log('Middle Mouse button pressed.');
                break;
            case 3:
                $("#menu").css('left', element.offsetLeft+43+element.offsetWidth);
                $("#menu").css('top', element.offsetTop+element.offsetHeight+num*30);
                $("#menu").show();
                break;
            default:
                console.log('You have a strange Mouse!');
        }
    }


    function onClickFolder(id, event, num) {
        currentID = id;
        isFolder = true;

        var element = document.getElementById(id);
        element.oncontextmenu = function () { return false;}
            switch (event.which) {
                case 1:
                    window.location.href = '@Url.Action("Index", "Home", new {id = "ID", ownedOrShared = "owned" })'.replace("ID", id);
                    break;
                case 2:
                    console.log('Middle Mouse button pressed.');
                    break;
                case 3:
                    $("#menu").css('left', element.offsetLeft+43+element.offsetWidth);
                    $("#menu").css('top', element.offsetTop+element.offsetHeight+num*30);
                    $("#menu").show();
                    break;
                default:
                    console.log('You have a strange Mouse!');
            }
    }

    $(document).ready(function(){
        $(document).click(function (e) {
            if (e.button == 0) {
                $("#menu").fadeOut(80);
            }
        })
    })

    $(document).ready(function () {
        $("#deleteMenuBurron").click(function () {
            if (isFolder) {
                window.location.href = '@Url.Action("Delete", "MapFolder", new {id = "ID"})'.replace("ID", currentID);
            }
            else {
                window.location.href = '@Url.Action("Delete", "Map", new {id = "ID", currFolderID = ViewBag.currFolderIDString})'.replace("ID", currentID);
            }
        })
        $("#detailsMenuBurron").click(function () {
            if (isFolder) {
                window.location.href = '@Url.Action("Details", "MapFolder", new {id = "ID"})'.replace("ID", currentID);
            }
            else {
                window.location.href = '@Url.Action("Index", "Map", new {id = "ID"})'.replace("ID", currentID);
            }
        })
        $("#moveMenuBurron").click(function () {
        })
    })

</script>


<style>
    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }

    .table {
        table-layout: fixed;
    }

    table tr {
        width: auto !important;
    }

    #menu
    {
        background-color:#CDCDCD;
        border:2px solid #6A6A6A;
        border-radius:5px;
        box-shadow:5px 5px 10px #474747;
        width:130px;
        padding-top:5px;
        padding-bottom:5px;
        display:none;
        position:absolute;
    }
    .menuItem
    {
        padding-left:5px;
        padding-right:5px;
        font-family:Arial,Arial, Helvetica, sans-serif;
    }


</style>